body{
    background-color: black;
}
h1 {
    color: #767676;
    background-color: black;
}

p{
    color: #FFFFFF;
}
h4{
    color: #767676;
}
p{
    color: #FFFFFF;
}
h4{
    color: #767676;
}
h6{
    color: #767676;
}
p{
    color: #FFFFFF;
}
h6{
    color:#767676
}
p{
    color: #FFFFFF;
}